@model Lab5.Models.DijkstraResultModel
@{
    ViewBag.Title = "Результати";
}

<div class="row">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
        <hr />
        <h4>Початкова вершина @(Model.StartCell + 1)</h4>
        <h4>Поточна вершина @(Model.CurrentCell + 1)</h4>
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Поточний стан</h3>
            </div>
            <div class="table-responsive">
                <table class="table" id="dist">
                    <tr>
                        <th style="width: 30%;">Вершина</th>
                        @for (int i = 0; i < Model.DistTable.Count(); i++)
                        {
                            <td>@(i + 1)</td>
                        }
                    </tr>
                    <tr>
                        <th style="width: 30%;">Відстань</th>
                        @for (int i = 0; i < Model.DistTable.Count(); i++)
                        {
                            <td>
                                @Model.DistTable[i]
                            </td>
                        }
                    </tr>
                    <tr>
                        <th style="width: 30%;">Шлях</th>
                        @for (int i = 0; i < Model.DistTable.Count(); i++)
                        {
                            <td>
                                @if(Model.PathTable[i] == -1)
                                {
                                    @("-")
                                }
                                else
                                {                                    
                                    @Model.PathTable[i]
                                }
                            </td>
                        }
                    </tr>
                    <tr>
                        <th style="width: 30%;">Постійна вершина</th>
                        @for (int i = 0; i < Model.DistTable.Count(); i++)
                        {
                            <td>
                                @Html.CheckBoxFor(Model => Model.IsShortestTable[i],
                                     htmlAttributes: new { onclick = "return false;" })
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <nav aria-label="..." style="justify-content: center; align-items: center; display: flex;">
        <ul class="pagination">
            @if(Model.CurrentStage == 0)
            {
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Result", routeValues: new {
                            currentStage = Model.CurrentStage - 1
                        })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 0; i < Model.StageCount; i++)
            {
                if(Model.CurrentStage == i)
                {
                    <li class="active">
                        <a href="#">@(i + 1) <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li><a href="@Url.Action("Result", routeValues: new {
                            currentStage = i
                        })">@(i + 1)</a></li>
                }
            }
             

            @if (Model.CurrentStage == Model.StageCount - 1)
            {
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Result", routeValues: new {
                            currentStage = Model.CurrentStage + 1
                        })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
